---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import BookmarksList from "../components/BookmarksList.astro";
---

<Layout
  title="Miguel Gutiérrez"
  description="Esta es una pagina de enlaces relacionados a Miguel Gutierrez. Gt2rz"
>
  <main class="px-8 font-medium w-full h-full mx-auto">
    <BookmarksList title="Bookmarks:" />
  </main>
</Layout>

<style></style>
