---
import Bookmark from "./Bookmark.astro";
---

<section>
  <ul
    class="w-full max-w-[800px] grid grid-cols-12 auto-rows-[12rem] gap-4 mx-auto py-4"
  >
    <Bookmark class="col-span-6" title="Github" icon="github.svg" href="#" />
    <Bookmark class="col-span-6" title="Github" icon="github.svg" href="#" />
    <Bookmark class="col-span-6" title="Github" icon="github.svg" href="#" />
    <Bookmark class="col-span-6" title="Github" icon="github.svg" href="#" />
    <Bookmark class="col-span-6" title="Github" icon="github.svg" href="#" />
    <Bookmark class="col-span-6" title="Github" icon="github.svg" href="#" />
    <Bookmark class="col-span-6" title="Github" icon="github.svg" href="#" />
  </ul>
</section>
