---
import Bookmark from "./Bookmark.astro";
---

<section>
  <ul
    class="w-full max-w-[800px] grid grid-cols-12 auto-rows-[12rem] gap-4 mx-auto py-4"
  >
    <Bookmark
      class="col-span-6"
      title="Github"
      icon="images/github.svg"
      href="#"
    />
    <Bookmark
      class="col-span-6"
      title="Linkedin"
      icon="images/linkedin.svg"
      href="#"
    />
    <Bookmark class="col-span-6" title="X" icon="images/X.svg" href="#" />
    <Bookmark
      class="col-span-6"
      title="Tiktok"
      icon="images/tiktok.svg"
      href="#"
    />
    <Bookmark
      class="col-span-6"
      title="Instagram"
      icon="images/instagram.svg"
      href="#"
    />
  </ul>
</section>
